.content section.sec1 {
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content section.sec2 {
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content section.sec3 {
    min-height: 60vh;
}

.content section.sec4 {
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content section.sec5 {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content section.sec6 {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content section.sec7 {
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content section.sec8 {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}