@import url('https://fonts.cdnfonts.com/css/apricot');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.content section.sec1 {
    min-height: 75vh;
    display: flex;
    align-items: center;
    background-image: url("../../assets/imgs/bg_homeview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    text-align: start;
}

@media (max-width: 400px) {
    .content section.sec1 {
        text-align: center;
    }
}

.content section.sec1 h4 {
    font-family: 'Montserrat', sans-serif;
    color: #3d2e19;
    font-size: 1.4em;
    font-weight: 900;
}

.content section.sec1 p {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #3d2e19;
    font-size: 1em;
    margin: 25px auto;
    font-weight: 600;
}

/* List Group */

.content section.sec2 {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content section.sec2 ul {
    list-style-type: none;
}

.content section.sec2 ul li {
    margin: 2px 4px;
}

.content section.sec2 i>svg {
    margin: auto 5px;
}

/* About */

.content section.sec3 {
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.content section.sec4 {
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* List Group Horizontal */

.content section.sec5 {
    background-image: url("../../assets/imgs/bg_list_group.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content section.sec6 {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

@media (max-width: 400px) {
    .content section.sec6 img{
        display: none;
    }
}

.content section.sec7 {
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content section.sec8 {
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}