div.container{
    min-height: 75vh;
}

div.container section.sec2{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   background-color: gray;
   padding: 20px 5px;
   /* text-align: center; */
}

div.container section.sec2 ul{
    list-style-type: none;
    background-color: #fcfcfc;
    border-radius: 15px;
    padding: 5px 20px;
}
