@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

a.btn_wpp_link {
    border: 0;
    background: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.btn_wpp {
    padding: 15px 7.5px;
    background-color: hsl(27, 73%, 49%);
    border: none;
    color: #fff;
    transition: .45s;
    border-radius: 12px;
    transition: 0.15s;
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
}

.btn_wpp:hover{
    background-color: #fff;
    color: #cc6f29;
    transform: scale(1.1);
}