#btn_wpp {
    padding: 8px 55px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #cc6f29;
}

#btn_wpp:hover {
    color: #cc6f29;
    background-color: #fff;
    transform: scale(1.2);
    transition: .45s;
}