#btn_wpp {
    padding: 5px 25px;
    border: 0;
    border-radius: 10px;
    background-color: #cc6f29;
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
}

#btn_wpp:hover{
    color: #cc6f29;
    background-color: #fff;
    transition: .45s;
    text-decoration: none;
}