a.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 32px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

a.float svg {
    font-size: 1.1em;
}

a.float:hover{
    background-color: #FFF;
    color: #25d366;
    transition: .4s;
}
